
  <mat-horizontal-stepper class="content" linear>
    <mat-step [stepControl]="stepOneForm" label="ファイルを開く" errorMessage="file is required.">
      <form [formGroup]="stepOneForm">
        <!-- Step 1のコンテンツ -->
        <p>csvかMEMを選ぶ</p>
        <input type="file" accept=".csv, .MEM, .xlsx" (change)="onFileSelected($event)" formControlName="firstCtrl" required/>
        <mat-progress-bar mode="determinate" [value]="progressValue"></mat-progress-bar>
      </form>
    </mat-step>
    
    <mat-step label="圧力のCHを割り当て">
      <mat-form-field>
        <mat-label>圧縮管圧力センサ</mat-label>
        <mat-select [(value)]="this.bind.compression" (selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>中圧管1センサ</mat-label>
        <mat-select [(value)]="this.bind.shock.m1"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>中圧管2センサ</mat-label>
        <mat-select [(value)]="this.bind.shock.m2"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>低圧管1センサ</mat-label>
        <mat-select [(value)]="this.bind.shock.l1"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>低圧管2センサ</mat-label>
        <mat-select [(value)]="this.bind.shock.l2"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>

    <mat-step label="マイクロ波のCHを割り当て">
      <mat-form-field>
        <mat-label>ピストンI</mat-label>
        <mat-select [(value)]="bind.piston.I" (selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>ピストンQ</mat-label>
        <mat-select [(value)]="bind.piston.Q"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>破膜I</mat-label>
        <mat-select [(value)]="bind.rupture.I"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <mat-label>破膜Q</mat-label>
        <mat-select [(value)]="bind.rupture.Q"(selectionChange)="onSelectedChanged()">
          <mat-option *ngFor="let CH of this.CHs" [value]="CH">{{CH}}</mat-option>
        </mat-select>
      </mat-form-field>
    </mat-step>

    <mat-step label="ダウンロード">
      <form>
        <p>Download</p>
        <button mat-icon-button (click)="DownloadExcel($event)">
          <mat-icon>download</mat-icon>
        </button>
      </form>
    </mat-step>
</mat-horizontal-stepper>