
<head>
<meta charset="UTF-8" />
</head>
<!-- Toolbar -->
<mat-toolbar class="toolbar">
  <span>Expansion Tube</span>
  <span class="spacer"></span>
  <a class="logo" target="_blank" rel="noopener" href="https://youtube.com/" title="YouTube">
    <svg id="youtube-logo" height="24" width="24" xmlns="http://www.w3.org/2000/svg" fill="#fff">
      <path d="M0 0h24v24H0V0z" fill="none"/>
      <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
    </svg>
  </a>
</mat-toolbar>

<app-setting></app-setting>

<!-- Next Steps -->
<mat-card class="card">
  <mat-card-actions>
    <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config" (plotlyClick)="onPlotlyClick($event)"></plotly-plot>
  </mat-card-actions>
</mat-card>

<table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8" #matTable>
  
  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef> value </th>
    <td mat-cell *matCellDef="let element"> {{element.value}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="unit">
    <th mat-header-cell *matHeaderCellDef> unit </th>
    <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-card class="card">
  <mat-card-actions>
    <div id="tableCondition"></div>
  </mat-card-actions>
</mat-card>

<mat-card class="card">
  <mat-card-actions>
    <div id="tableCalced"></div>
  </mat-card-actions>
</mat-card>
<mat-card class="card">
  <mat-card-actions>
    <div id="table"></div>
  </mat-card-actions>
</mat-card>

<router-outlet></router-outlet>
