
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <span>Expansion Tube</span>
    <div class="spacer"></div>
    <a aria-label="輪読用のドライブ" target="_blank" rel="noopener" href="https://youtube.com/" title="YouTube">
      <svg id="youtube-logo" height="24" width="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff">
        <path d="M0 0h24v24H0V0z" fill="none"/>
        <path d="M21.58 7.19c-.23-.86-.91-1.54-1.77-1.77C18.25 5 12 5 12 5s-6.25 0-7.81.42c-.86.23-1.54.91-1.77 1.77C2 8.75 2 12 2 12s0 3.25.42 4.81c.23.86.91 1.54 1.77 1.77C5.75 19 12 19 12 19s6.25 0 7.81-.42c.86-.23 1.54-.91 1.77-1.77C22 15.25 22 12 22 12s0-3.25-.42-4.81zM10 15V9l5.2 3-5.2 3z"/>
      </svg>
    </a>
</div>

<div class="content" role="main">

  <!-- Highlight Card -->
  <div class="card-container">
    <mat-card class="card">
      <mat-card-header>
        <mat-card-title>ファイルを開く</mat-card-title>
        <mat-card-subtitle>csvかMEMを選ぶ</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <input type="file" accept=".csv, .MEM" (change)="onFileSelected($event)" />
      </mat-card-actions>
      <mat-card-footer *ngIf="filename !=''">
        <button mat-icon-button matTooltip="Basic" aria-label="Download excel file" (click)="DownloadExcel()">
          <mat-icon>download</mat-icon>
        </button>
      </mat-card-footer>
    </mat-card>

    <div class="card-container">
      <mat-card class="card" *ngIf="filename !=''">
        <mat-card-header>
          <mat-card-title>圧力のデータ</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <mat-form-field>
            <mat-label>圧縮管圧力センサ</mat-label>
            <mat-select [(value)]="pressureSelected.compression" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>中圧管1センサ</mat-label>
            <mat-select [(value)]="pressureSelected.m1" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>中圧管2センサ</mat-label>
            <mat-select [(value)]="pressureSelected.m2" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>低圧管1センサ</mat-label>
            <mat-select [(value)]="pressureSelected.l1" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>低圧管2センサ</mat-label>
            <mat-select [(value)]="pressureSelected.l2" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="card-container">
      <mat-card class="card" *ngIf="filename !=''">
        <mat-card-header>
          <mat-card-title>マイクロ波のデータ</mat-card-title>
        </mat-card-header>
        <mat-card-actions align="end">
          <mat-form-field>
            <mat-label>ピストンI</mat-label>
            <mat-select [(value)]="microSelected.pI" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>ピストンQ</mat-label>
            <mat-select [(value)]="microSelected.pQ" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>破膜I</mat-label>
            <mat-select [(value)]="microSelected.rI" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <mat-label>破膜Q</mat-label>
            <mat-select [(value)]="microSelected.rQ" name="CH">
              <mat-option *ngFor="let CH of CHs" [value]="CH">{{CH}}</mat-option>
            </mat-select>
          </mat-form-field>
        </mat-card-actions>
      </mat-card>
      </div> 
    </div>

  <!-- Next Steps -->
  <mat-card class="card">
    <mat-card-actions>
      <plotly-plot [data]="graph.data" [layout]="graph.layout" [config]="graph.config" (plotlyClick)="onPlotlyClick($event)"></plotly-plot>
    </mat-card-actions>
    <mat-card-footer *ngIf="shock">
      <div class="card-container">
        <div class="shockdatarow">中圧管1: {{shock.t_P[0]}}</div>
        <div class="shockdatarow">中圧管2: {{shock.t_P[1]}}</div>
        <div class="shockdatarow">低圧管1: {{shock.t_P[2]}}</div>
        <div class="shockdatarow">低圧管2: {{shock.t_P[3]}}</div>
     </div>
     <div class="card-container">
      <div class="shockdatarow">V12: {{shock.getVelocity()[0] | number: '4.0-2'}} [m/s]</div>
      <div class="shockdatarow">V23: {{shock.getVelocity()[1] | number: '4.0-2'}} [m/s]</div>
      <div class="shockdatarow">V34: {{shock.getVelocity()[2] | number: '4.0-2'}} [m/s]</div>
     </div>
    </mat-card-footer>
  </mat-card>

  <mat-card class="card">
    <mat-card-actions>
      <div id="tableCalced"></div>
    </mat-card-actions>
  </mat-card>
  <mat-card class="card">
    <mat-card-actions>
      <div id="table"></div>
    </mat-card-actions>
  </mat-card>
</div>

<router-outlet></router-outlet>
