<mat-form-field>
    <mat-label>貯気槽のガス</mat-label>
    <mat-select [(value)]="bind.R.g" (selectionChange)="onSelectedChanged()">
        <mat-option *ngFor="let gas of this.Gas" [value]="gas">{{gas}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>貯気槽圧PR0 MPa</mat-label>
    <input matInput type="number" [(ngModel)]="bind.R.P" (change)="onSelectedChanged()">
    <span matTextSuffix>MPa</span>
</mat-form-field>
<mat-form-field>
    <mat-label>圧縮管のガス</mat-label>
    <mat-select [(value)]="bind.C.g" (selectionChange)="onSelectedChanged()">
        <mat-option *ngFor="let gas of this.Gas" [value]="gas">{{gas}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>圧縮管圧Pc0 kPa</mat-label>
    <input matInput type="number"[(ngModel)]="bind.C.P" (change)="onSelectedChanged()">
    <span matTextSuffix>kPa</span>
</mat-form-field>
<mat-form-field>
    <mat-label>中圧管ガス</mat-label>
    <mat-select [(value)]="bind.M.g" (selectionChange)="onSelectedChanged()">
        <mat-option *ngFor="let gas of this.Gas" [value]="gas">{{gas}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>中圧管圧 kPa</mat-label>
    <input matInput type="number"[(ngModel)]="bind.M.P" (change)="onSelectedChanged()">
    <span matTextSuffix>kPa</span>
</mat-form-field>
<mat-form-field>
    <mat-label>低圧管ガス</mat-label>
    <mat-select [(value)]="bind.L.g" (selectionChange)="onSelectedChanged()">
        <mat-option *ngFor="let gas of this.Gas" [value]="gas">{{gas}}</mat-option>
    </mat-select>
</mat-form-field>
<mat-form-field>
    <mat-label>低圧管圧 Pa</mat-label>
    <input matInput type="number"[(ngModel)]="bind.L.P" (change)="onSelectedChanged()">
    <span matTextSuffix>Pa</span>
</mat-form-field>
<mat-form-field>
    <mat-label>スロート径 D*</mat-label>
    <input matInput type="number" [(ngModel)]="bind.Dth" (change)="onSelectedChanged()">
    <span matTextSuffix>mm</span>
</mat-form-field>
<mat-form-field>
    <mat-label>温度 T0</mat-label>
    <input matInput type="number" [(ngModel)]="bind.T0" (change)="onSelectedChanged()">
    <span matTextSuffix>K</span>
</mat-form-field>
<mat-form-field>
    <mat-label>ピストン質量 Wp</mat-label>
    <input matInput type="number" [(ngModel)]="bind.Wp" (change)="onSelectedChanged()">
    <span matTextSuffix>kg</span>
</mat-form-field>

<div class="card">
    <table mat-table [dataSource]="this.compService.getDataSource()" class="mat-elevation-z8" #matCompTable>
        <!-- Position Column -->
        <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="value">
        <th mat-header-cell *matHeaderCellDef> value </th>
        <td mat-cell *matCellDef="let element"> {{element.value}} </td>
        </ng-container>
    
        <!-- Name Column -->
        <ng-container matColumnDef="unit">
        <th mat-header-cell *matHeaderCellDef> unit </th>
        <td mat-cell *matCellDef="let element"> {{element.unit}} </td>
        </ng-container>
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>
